In [1]:
import pandas as pd
import yfinance as yf
import datetime
from datetime import date, timedelta

In [5]:

today = date.today()
d1 = today.strftime("%Y-%m-%d")
end_date = d1
d2 = date.today() - timedelta(days=5000)
d2 = d2.strftime("%Y-%m-%d")
start_date = d2

data = yf.download('AAPL', 
                      start=start_date, 
                      end=end_date, 
                      progress=False)
data["Date"] = data.index
data = data[["Date", "Open", "High", "Low", "Close", 
             "Adj Close", "Volume"]]
data.reset_index(drop=True, inplace=True)
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3440,2023-06-06,179.970001,180.119995,177.429993,179.210007,179.210007,64848400
3441,2023-06-07,178.440002,181.210007,177.320007,177.820007,177.820007,61944600
3442,2023-06-08,177.899994,180.839996,177.460007,180.570007,180.570007,50214900
3443,2023-06-09,181.500000,182.229996,180.630005,180.960007,180.960007,48870700
3444,2023-06-12,181.270004,183.889999,180.970001,183.789993,183.789993,54274900